.container-fluid {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navlink {
    padding-right: 25px;
}

#icon {
    margin-left: 8px;
    margin-bottom: 4px;
}